[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
datasets = "*"
torch = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
